target/
.idea
_site
.dotty-ide-artifact
.dotty-ide.json
.metals/
.vscode/
.bsp/sbt.json
project/metals.sbt
project/project/project/metals.sbt
project/project/metals.sbt
project/.bloop/ligature-build.json
project/project/.bloop/ligature-build-build.json
